
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#wrapper{
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
#top{
    position: fixed;
    left: 0;
    right: 0;
    background-color: bisque;
    height: min-content;
    z-index: 2;
}
#logo{
    background-color: rgb(116, 138, 138);
    width: max-content;
    color: black;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}
#cart-icon{
    height: max-content;
    border: solid;
    border-color: black;
    text-align: center;
    background-color: black;
    color: rgb(116, 138, 138);
}
#logo-and-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#search-container{
    padding: 10px;
    background-color: black;

}
#departments{
    
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    justify-content: space-between;
    
    margin-top: 120px;
}
#departments li{
    background-color: rgb(61, 172, 9);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
}
#rc-card, #ec-card, #wc-card, #tc-card, #dc-card, #rc-card{
   
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
    color: white;
    cursor: pointer;
    position: relative;
    border-style: double;
}
#random-pick-cat, #wishlist-cat, #top-search-cat, #deals-cat, #recommandations-cat, #essentials-cat{
    align-content: baseline;
    overflow: auto;
    white-space: nowrap;
    
}
h3{
    margin-top: 30px;
}
#nav-bar{
    background-color: rgb(18, 23, 48);
    color: rgb(32, 214, 214);
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
#nav-bar i{
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-top: none;
    border-width: 1px;
    border-color: rgb(148, 143, 143);

}
#rc-card:hover , #ec-card:hover, #wc-card:hover, #tc-card:hover, #dc-card:hover, #rc-card:hover {
    width: 230px;
    height: 280px;

}
#viewmore-btn{
    background-color: rgb(18, 23, 48);
    color: rgb(32, 214, 214);
    border-radius: 50%;

    height: 50px;
    width: max-content;

}
#viewmore-btn:hover {
    height: 60px;
}
#save-btn{
    position: relative;
    left:80%;
    z-index: 1;
}
#name, #rating, #price{
    position: relative;
    z-index: 1;
    font-size: medium;
    width: max-content;
    background-color: rgba(0, 0 ,0 , 0.6);
    color: white;
}
img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 0;
}
#logo-and-cart a{
    text-decoration: none;
    
}
@media (min-width: 600px){
    #nav-bar{
        justify-content: space-around;
    }
}
